.page1 {
  background-image: url(../img/backgroubd.svg);
  background-repeat: no-repeat;
}

.page1 .text1 .navbar img {
  margin-left: 135px;
}

.page1 .text1 .navbar .menu {
  padding-left: 752px;
}

.page1 .text1 .navbar .menu ul li {
  list-style: none;
  display: inline-block;
  padding-right: 40px;
  padding-top: 18px;
}

.page1 .text1 .navbar .menu ul li a {
  text-decoration: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.page1 .text1 .left-side {
  margin-left: 135px;
}

.page1 .text1 .left-side h1 {
  margin-top: 150px;
  width: 401px;
  height: 132px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.page1 .text1 .left-side p {
  width: 500px;
  height: 80px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.page1 .text1 .left-side .services {
  margin-bottom: 120px;
}

.page1 .text1 .left-side .services .col-6 .topbar button {
  margin-right: 24px;
  width: 200px;
  height: 69px;
  background: #FCD57E;
  border-radius: 7px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070818;
}

.page1 .text1 .left-side .services .col-6 .topbar2 button {
  width: 150px;
  height: 69px;
  background: #FFFFFF;
  border-radius: 7px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  color: #212121;
}

.page1 .text1 .right-side img {
  margin-top: 134px;
  margin-left: 134px;
}

.page2 {
  background-image: url(../img/background2.svg);
}

.page2 .features {
  margin-left: 600px;
  margin-top: 120px;
  width: 90px;
  height: 22px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #212121;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-bottom: 25px;
}

.page2 h1 {
  margin-left: 428px;
  width: 578px;
  height: 48px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #212121;
  margin-bottom: 100px;
}

.page2 .col-4 .chat img {
  margin-left: 380px;
  margin-bottom: 31px;
}

.page2 .col-4 .chat h2 {
  margin-left: 300px;
  margin-right: 190px;
  width: 206px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #212121;
  margin-bottom: 15px;
}

.page2 .col-4 .chat p {
  margin-left: 288px;
  width: 224px;
  height: 80px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  text-align: center;
  color: #9FA3A7;
}

.page2 .col-4 .message img {
  margin-left: 263px;
  margin-bottom: 31px;
}

.page2 .col-4 .message h2 {
  margin-left: 175.5px;
  width: 243px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #212121;
  margin-bottom: 15px;
}

.page2 .col-4 .message p {
  margin-left: 186px;
  width: 224px;
  height: 80px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  text-align: center;
  color: #9FA3A7;
}

.page2 .col-4 .call img {
  margin-left: 150px;
  margin-bottom: 31px;
}

.page2 .col-4 .call h2 {
  margin-left: 91px;
  width: 206px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #212121;
  margin-bottom: 15px;
}

.page2 .col-4 .call p {
  margin-left: 89px;
  width: 224px;
  height: 80px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  text-align: center;
  color: #9FA3A7;
}

.page2 .works {
  margin-top: 182px;
  margin-left: 550px;
  width: 240px;
  height: 22px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #212121;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-bottom: 80px;
}

.page3 {
  background: linear-gradient(269.12deg, #F8F8F8 -30.45%, #FFFFFF 61.84%);
}

.page3 .left-side img {
  margin-top: 115px;
  margin-left: 172px;
  margin-bottom: 24px;
}

.page3 .left-side h1 {
  width: 303px;
  margin-left: 172px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.249px;
  color: #212121;
  margin-bottom: 17px;
}

.page3 .left-side p {
  width: 340px;
  height: 128;
  margin-left: 172px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #212121;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 40px;
}

.page3 .left-side ul li {
  list-style: none;
}

.page3 .left-side ul li a {
  margin-left: 132px;
  text-decoration: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.470588px;
  color: #FC977B;
}

.page3 .right-side img {
  margin-left: 300px;
}

.page4 {
  background: linear-gradient(269.12deg, #F8F8F8 -30.45%, #FFFFFF 61.84%);
  margin-top: 100px;
}

.page4 .left-side img {
  margin-left: 150px;
}

.page4 .right-side {
  margin-left: 300px;
}

.page4 .right-side img {
  margin-top: 110px;
  margin-bottom: 42px;
}

.page4 .right-side h1 {
  width: 435px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.249px;
  color: #212121;
  margin-bottom: 17px;
}

.page4 .right-side p {
  width: 340px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #212121;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 40px;
}

.page4 .right-side ul li {
  list-style: none;
}

.page4 .right-side ul li a {
  margin-left: 27px;
  text-decoration: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.470588px;
  color: #FC977B;
}

.page5 {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-7.75%, #F8F8F8), to(#FFFFFF));
  background: linear-gradient(0deg, #F8F8F8 -7.75%, #FFFFFF 100%);
}

.page5 p {
  margin-top: 160px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
  margin-bottom: 128px;
}

.page5 img {
  margin-left: 470px;
}

.page5 h1 {
  margin-left: 300px;
  width: 476px;
  font-family: Avenir;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  /* or 128% */
  text-align: center;
  color: #212121;
  margin-bottom: 94px;
}

.page5 .pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page5 .pics img {
  padding-right: 154px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.page5 .texttt h1 {
  margin-left: 270px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  text-align: center;
  color: #2C2C2C;
  margin-bottom: 4px;
}

.page6 {
  background: #E5E5E5;
}

.page6 p {
  padding-top: 120px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
  margin-bottom: 24px;
}

.page6 h1 {
  margin-left: 580px;
  width: 430px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #212121;
  padding-bottom: 80px;
}

.page6 .submitB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 130px;
}

.page6 .submitB .submitE input {
  width: 613px;
  height: 60px;
  margin-left: 458px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.page6 .submitB .submitS input {
  width: 200px;
  height: 60px;
  background: linear-gradient(244.92deg, #FEE140 -35.7%, #FA709A 99.66%);
  border-radius: 5px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.page6 img {
  margin-left: 240px;
}

.page7 {
  background: #E5E5E5;
}

.page7 img {
  padding-left: 887px;
  padding-top: 80px;
  margin-bottom: 19px;
}

.page7 h1 {
  margin-left: 330px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 34px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.5px;
  color: #484848;
  margin-bottom: 24px;
}

.page7 p {
  margin-left: 485px;
  width: 700px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: #838383;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 10px;
}

.page7 .buttonR img {
  text-align: center;
  padding-bottom: 90px;
}
/*# sourceMappingURL=exam.css.map */